/* Global styles */
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}

button { cursor: pointer; }

/*

    Weather info component box
    
*/

.weather-info {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    margin: auto;
    border-radius: 12px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 30px #e1e1e1;
    transform: translate(-50%, -50%);
    transition-duration: .5s;
    transition-property: opacity;
}

/*
    
    Weather Forecast View
    
*/

.weather-info__forecast-view {
    display: none;
    flex-direction: column;
    padding: 15px 20px;
}

.weather-info__forecast-view button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

.weather-info__forecast-view button:hover {
    background-color: #e7e7e7;
}

.weather-info__city {
    margin: 20px auto;
}

.weather-info__city h1 {
    color: rgb(75, 150, 236);
    font-size: 3em;
    font-weight: 700;
}

.weather-info__temperatures {
    color: #aaa7a7;
    font-size: 1em;
    font-weight: 200;
}

.weather-info__temperatures h2, .weather-info__temperatures p {
    margin: 10px auto;
}

.weather-info__temperatures h2 {
    font-size: 2em;
    font-weight: 700;
    color: green;
}

.weather-info__temperatures p {
    font-size: 1.5em;
    font-weight: 700;
}

#weatherMaxTemp { color: red; }
#weatherMinTemp { color: blue; }

/* 

    Weather Search City Component 

*/

.weather-info__search-view {
    display: flex;
    flex-direction: column;
}

.weather-info__search__label {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    color: grey;
}

.weather-info__search-view label, .weather-info__search-view input {
    margin-bottom: 12px;
}

.weather-info__search-view input {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #f7f7f7;
}

.weather-info__search-view button {
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    background-color: rgba(63, 63, 172, 1);
    font-weight: 700;
    color: white;
}

.weather-info__search-view button:hover {
    background-color: rgba(63, 63, 172, 0.75);
}